[user]
	name = Kevin Wu
	email = kevindwu@gmail.com

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	ap = add -p
	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
	snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"

[core]
	editor = subl -w
	excludesfile = ~/.gitignore
	autocrlf = false

[help]
	autocorrect = 10

[color]
	ui = true

[merge]
	keepBackup = false
	tool = p4merge

[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false

[diff]
	tool = p4diff